//
//  SecretValue.xcconfig
//  TMDBClient
//
//  Created by Roman Samborskyi on 07.06.2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


TMDB_API_KEY = 14512c9189d3ba6fe3a1de6324ad576a
